.task-planner-container {
  width: 80%; /* Set the desired width */
  margin: 0 auto; /* Center the container horizontally */
}

  
  .add-task-form {
    margin-bottom: 20px;
  }
  
  .task-list {
    margin-bottom: 30px;
  }
  
  .task-details {
    width: 70%;
    display: inline-block;
  }
  
  .task-actions {
    width: 30%;
    display: inline-block;
    text-align: right;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  